# Default ignored files
/shelf/
.idea/workspace.xml
# Editor-based HTTP Client requests
httpRequests/
# Datasource local storage ignored files
dataSources/
dataSources.local.xml
salesmore-integration-connectors/okhttp/target/
salesmore-integration-shopee/target/
salesmore-integration-core/target/